* {
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    min-height: 100vh;
    margin: auto;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.form-div form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3vh 2vw;
    border: 1px solid rgba(128, 128, 128, 0.3);
}

.form-div form .instaLogo {
    width: 200px;
    margin: 20px 0;
}

.form-div form .input {
    width: 90%;
    padding: .6rem;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin: 3px;
}

.login-btn {
    width: 97%;
    padding: .4rem;
    font-weight: 700;
    background-color: rgb(1, 183, 255);
    border: none;
    border-radius: 8px;
    margin: 8px 0px;
    color: white;
}

.or-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.or-text {
    padding: 0 10px;
    color: #8e8e8e;
}


.fb-login {
    font-weight: 700;
    font-size: 95%;
    color: rgb(72, 141, 232);
    margin-bottom: 30px;
    margin-top: 10px;
}

.sign-up {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 20px;
    margin: 10px;
}
.sign-link{
    color: rgb(72, 141, 232);
}
.get-app {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.store {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

#apple {
  
    width: 130px;
    border-radius: 8px;
    margin-bottom: 4px;
}

#play {

    margin-right: 20px;
    width: 135px;
    border-radius: 8px;
}